
Juego/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Juego/Logs/shadercompiler-UnityShaderCompiler.exe1.log
*.log
*.log
*.log
Juego/Logs/shadercompiler-UnityShaderCompiler.exe3.log
*.log
Juego/Logs/shadercompiler-UnityShaderCompiler.exe6.log
*.json
Juego/Library/SourceAssetDB
Juego/Library/ShaderCache/EditorEncounteredVariants
*.pdb
*.dll
*.asset
Juego/Library/PackageManager/ProjectCache
*.md5
Juego/Library/PackageManager/ProjectCache
Juego/Library/CurrentLayout-default.dwlt
Juego/Library/Artifacts/8a/8aaa6e7a56b015c8db3d650841bd85eb
Juego/Library/ArtifactDB
Juego/Library/Artifacts/35/3581266c2129813e7ccb1a4044db7f9c
Juego/Library/ArtifactDB
*.log
